<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common::head}"></head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend style="color: rgb(30 159 255)" th:text="#{file.delete.title}">任意文件操作 - 文件删除</legend>
                    <blockquote class="layui-elem-quote layui-quote-nm"
                                style="font-size: 15px;background-color: #a7deefab;box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important">
                        <p>
                        <pre th:text="#{file.delete.intro}">  任意文件删除：应用将用户可控路径直接用于删除操作，未限制目录边界和文件类型，攻击者可能通过绝对路径或 ../ 目录穿越删除业务文件、上传文件、日志或配置，导致数据丢失、拒绝服务和审计证据破坏。</pre>
                        </p>
                    </blockquote>
                </fieldset>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1 style="display: flex; justify-content: space-between; align-items: center;height: 33.5px">
                            <span class="iconfont icon-bug" th:text="| #{file.common.vul.unrestrictedPath}|"> 漏洞场景：路径未限制</span>
                            <span class="iconfont icon-liuliang1">
                                <a href="/other/datapackage/file/delete.pcapng" download="delete.pcapng"
                                   style="margin-right: 19px;color: #00bb00" th:text="#{file.common.traffic}">流量分析</a>
                            </span>
                        </h1>
                        <div class="layui-tab layui-tab-brief">

                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p th:text="#{file.delete.vulDesc}">文件路径没做限制，可使用../遍历删除任意文件</p>
                                        <a target="_blank" href="/file/delete/vul?filePath=./src/main/resources/static/upload/demo.txt">
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang" th:text="#{file.common.run}">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{file.common.tips}">tips</span></div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;" th:text="#{file.delete.vulTips}">测试提醒</pre>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1 style="display: flex; align-items: center; height: 33.5px;">
                            <span class="iconfont icon-code" style="height: 22.5px;" th:text="#{file.common.vulnerableCode}">缺陷代码</span>
                        </h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="deleteFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-anquan" th:text="|  #{file.common.safe.deleteScope}|">  安全场景：文件删除目录限制</span></h1>
                        <div class="layui-tab layui-tab-brief">

                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p th:text="#{file.delete.safeDesc}">安全场景将删除范围限制在上传目录内，可使用 ../test 验证拦截效果</p>
                                        <a target="_blank" href="/file/delete/safe?fileName=../test">
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang" th:text="#{file.common.run}">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{file.common.tips}">tips</span></div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;" th:text="#{file.delete.safeTips}">安全编码建议</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code" th:text="|  #{file.common.safeCode}|">  安全代码</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="safeDeleteFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{common/common::script}"></div>
<script type="text/javascript" th:inline="javascript">
    layui.use(['layer', 'miniTab', 'common', 'upload'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab;
        miniTab.listen();
        layer.msg(/*[[#{file.delete.toast}]]*/ "任意文件类-文件删除")
        var isEnglishFile = /*[[${#locale.language == 'en'}]]*/ false;

        var cmConfig = {
            lineNumbers: true,
            lineWrapping: false,
            indentUnit: 4,
            indentWithTabs: true,
            theme: 'juejin',
            styleActiveLine: {nonEmpty: true},
            fontSize: "18px",
            mode: "text/x-java"
        };

        var cmConfigSafe = {
            lineNumbers: true,
            lineWrapping: false,
            indentUnit: 4,
            indentWithTabs: true,
            theme: 'juejinsafe',
            styleActiveLine: {nonEmpty: true},
            fontSize: "18px",
            mode: "text/x-java"
        };

        CodeMirror(document.getElementById("deleteFile"), Object.assign({}, cmConfig, {
            value: isEnglishFile ? deleteFile : deleteFileZh
        }));
        CodeMirror(document.getElementById("safeDeleteFile"), Object.assign({}, cmConfigSafe, {
            value: isEnglishFile ? safeDeleteFile : safeDeleteFileZh
        }));


    });
</script>

</body>
</html>
