<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common::head}"></div>

<body>
<div class="layuimini-container">
  <div class="layuimini-main">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <fieldset class="layui-elem-field layui-field-title">
          <legend>
            <a style="color: rgb(30 159 255)" class="CrossOrigin" th:text="#{crossorigin.title}">其他漏洞 - 跨源安全问题</a>
          </legend>
          <blockquote class="layui-elem-quote layui-quote-nm"
                      style="font-size: 15px;background-color: #a7deefab;box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important">
            <p>
            <pre th:text="#{crossorigin.jsonp.intro.sameOrigin}">同源策略(Same Origin Policy)：浏览器限制脚本读取不同源的响应内容；协议、域名、端口三者完全一致才属于同源。script 标签加载脚本不受同源读取限制，这是 JSONP 能工作的基础。</pre>
            <pre th:text="#{crossorigin.jsonp.intro.jsonp}">JSONP(JSON with Padding)：服务端把 JSON 数据包进 callback(...) 形式，让页面通过 script 标签跨源加载执行。它只支持 GET，缺少现代 CORS 的细粒度控制，不适合承载账号、权限、订单等敏感数据。</pre>
            </p>
          </blockquote>
        </fieldset>
      </div>

      <div class="layui-col-md12" style="margin-top: 10px">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <h1><span class="iconfont icon-bug" th:text="| #{crossorigin.jsonp.vul.title}|"> 漏洞场景：JSONP劫持</span></h1>
            <div class="layui-tab layui-tab-brief">
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <blockquote class="layui-elem-quote main_btn">
                    <p th:text="#{crossorigin.jsonp.vul.desc}">接口把敏感数据包进未校验的 callback 参数，任意站点都可以通过 script 标签读取</p>
                    <a target="_blank" href="/crossorigin/jsonpVul?callback=stealData">
                      <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                        <span class="iconfont icon-zhihang" th:text="#{crossorigin.run}">Run</span>
                      </button>
                    </a>
                  </blockquote>
                </div>

                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{crossorigin.tips}">tips</span></div>
                    <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;" th:text="#{crossorigin.jsonp.vul.tips}">问题点</pre>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <h1><span class="iconfont icon-code" th:text="| #{crossorigin.vulnerableCode}|"> 缺陷代码</span></h1>
            <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
              <div class="code-editor" id="vulJSONP"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="layui-col-md12" style="margin-top: 10px">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <h1><span class="iconfont icon-anquan" th:text="| #{crossorigin.jsonp.safe.title}|"> 安全场景：callback校验与公开数据</span></h1>
            <div class="layui-tab layui-tab-brief">
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <blockquote class="layui-elem-quote main_btn">
                    <p th:text="#{crossorigin.jsonp.safe.desc}">校验 callback 格式，并且只返回公开数据；敏感接口应迁移到受控 CORS</p>
                    <a target="_blank" href="/crossorigin/jsonpSafe?callback=stealData">
                      <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                        <span class="iconfont icon-zhihang" th:text="#{crossorigin.run}">Run</span>
                      </button>
                    </a>
                  </blockquote>
                </div>

                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{crossorigin.tips}">tips</span></div>
                    <div class="layui-card-body layui-text layadmin-text">
                      <pre style="color: #28333e;font-size: 15px;" th:text="#{crossorigin.jsonp.safe.tips}">安全编码建议</pre>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <h1><span class="iconfont icon-code" th:text="#{crossorigin.safeCode}">安全代码</span></h1>
            <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
              <div class="code-editor" id="safeJSONP"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<div th:replace="~{common/common::script}"></div>
<script type="text/javascript" th:inline="javascript">
  document.addEventListener("DOMContentLoaded", function () {

    layui.use(['layer', 'miniTab', 'common', 'form'], function () {
      var $ = layui.jquery,
              layer = layui.layer,
              miniTab = layui.miniTab,
              common = layui.common,
              form = layui.form;
      miniTab.listen();
      layer.msg(/*[[#{crossorigin.jsonp.toast}]]*/ "其他漏洞-JSONP跨域")
      var isEnglishCrossOrigin = /*[[${#locale.language == 'en'}]]*/ false;

      var cmConfig = {
        lineNumbers: true,
        lineWrapping: false,
        indentUnit: 4,
        indentWithTabs: true,
        theme: 'juejin',
        styleActiveLine: {nonEmpty: true},
        fontSize: "18px",
        mode: "text/x-java"
      };
      var cmConfigSafe = {
        lineNumbers: true,
        lineWrapping: false,
        indentUnit: 4,
        indentWithTabs: true,
        theme: 'juejinsafe',
        styleActiveLine: {nonEmpty: true},
        fontSize: "18px",
        mode: "text/x-java"
      };

      CodeMirror(document.getElementById("vulJSONP"), Object.assign({}, cmConfig, {
        value: isEnglishCrossOrigin ? vulJSONP : vulJSONPZh
      }));
      CodeMirror(document.getElementById("safeJSONP"), Object.assign({}, cmConfigSafe, {
        value: isEnglishCrossOrigin ? safeJSONP : safeJSONPZh
      }));

      $('.CrossOrigin').hover(function () {
        $(this).css('cursor', 'pointer');
        layer.tips(/*[[#{crossorigin.sameOriginFlow}]]*/ '攻击流程图', this, {
          tips: [1, '#0051ff'],
          time: 2000
        });
      });

      $('.CrossOrigin').on('click', function () {
        layer.open({
          type: 1,
          title: false,
          closeBtn: 1,
          area: ['1368px', '488px'],
          shadeClose: true,
          content: '<div style="text-align: center;"><img src="/static/images/vul/crossOrigin/sameOrign.png" style="width: 100%; height: 100%;"></div>'
        });
      });

    });
  });

</script>

</body>
</html>
