<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">旧的密码</label>
                <div class="layui-input-block">
                    <input type="text" name="old_password" lay-verify="required" lay-reqtext="旧的密码不能为空"
                           placeholder="请输入旧的密码" value="" class="layui-input" style="width: 300px">
                    <tip>填写自己账号的旧的密码。</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">新的密码</label>
                <div class="layui-input-block">
                    <input type="text" name="new_password" lay-verify="required" lay-reqtext="新的密码不能为空"
                           placeholder="请输入新的密码" value="" class="layui-input" style="width: 300px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">新的密码</label>
                <div class="layui-input-block">
                    <input type="text" name="again_password" lay-verify="required" lay-reqtext="新的密码不能为空"
                           placeholder="请输入新的密码" value="" class="layui-input" style="width: 300px">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="changePassword">确认保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script src="/static/js/jquery-3.4.1.min.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'miniTab', 'common'], function () {
        var form = layui.form,
            layer = layui.layer;

        // 监听提交
        form.on('submit(changePassword)', function (data) {
            var index = layer.alert("旧密码：" + JSON.parse(JSON.stringify(data.field)).old_password + " 新密码：" + JSON.parse(JSON.stringify(data.field)).new_password, {
                title: '确定要修改密码吗'
            }, function () {
                layer.close(index);
                $.ajax({
                    url: '/system/chpwd',
                    type: 'POST',
                    dataType: 'json',
                    data: data.field,
                    success: function (response) {
                        msg = JSON.parse(JSON.stringify(response)).msg
                        code = JSON.parse(JSON.stringify(response)).code
                        console.log(response)
                        if (code.toString() == "0") {
                            layer.msg(msg, {icon: 1, offset: '10px'})
                        } else layer.msg(msg, {icon: 2, offset: '10px'})
                    },
                    error: function (xhr, status, error) {
                        layer.msg('修改密码失败:' + error, {icon: 2, offset: '10px'})
                    }
                });
            });

            return false;
        });


    });
</script>
</body>
</html>