<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common::head}"></div>

<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend style="color: rgb(30 159 255)" th:text="#{component.xstream.title}">Component Vulnerability - XStream Deserialization</legend>
                    <blockquote class="layui-elem-quote layui-quote-nm"
                                style="font-size: 15px;background-color: #a7deefab;box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important">
                        <p>
                        <pre th:text="#{component.xstream.intro1}">XStream serializes Java objects to XML and back.</pre>
                        <pre th:text="#{component.xstream.intro2}">Crafted XML can trigger code execution during deserialization.</pre>
                        </p>
                    </blockquote>
                </fieldset>
            </div>
            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-bug" th:text="| #{component.common.vul.title}|"> Vulnerable Scenario</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p th:text="#{component.common.manualPayload}">Open the target page and build the payload manually.</p>
                                        <a target="_blank" href='/xstream/vul'>
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang" th:text="#{button.run}">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code" th:text="| #{common.vulnerableCode}|"> Vulnerable Code</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="vulXstream"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-anquan" th:text="| #{component.xstream.safe.blacklist.title}|"> Safe Scenario: Blacklist</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p th:text="#{component.xstream.safe.blacklist.desc}">Blacklist filtering</p>
                                        <a target="_blank" href='/xstream/safe1'>
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang" th:text="#{button.run}">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code" th:text="| #{common.safeCode}|"> Safe Code</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="safeXstreamBlackList"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-anquan" th:text="| #{component.xstream.safe.allowlist.title}|"> Safe Scenario: Allowlist</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p th:text="#{component.xstream.safe.allowlist.desc}">Allowlist filtering</p>
                                        <a target="_blank" href='/xstream/safe2'>
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang" th:text="#{button.run}">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{common.tips}">tips</span></div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;" th:text="#{component.xstream.safe.tips}">Secure coding guidance.</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code" th:text="| #{common.safeCode}|"> Safe Code</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="safeXstreamWhiteList"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<div th:replace="~{common/common::script}"></div>
<script type="text/javascript" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {

        layui.use(['layer', 'miniTab', 'common', 'form'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                miniTab = layui.miniTab,
                common = layui.common;
            miniTab.listen();
            layer.msg(/*[[#{component.xstream.title}]]*/ "Component Vulnerability - XStream Deserialization")
            var isEnglish = /*[[${#locale.language == 'en'}]]*/ false;
            var codeSnippets = window.componentCodeSnippets || {};

            function codeSnippet(enName, zhName) {
                return codeSnippets[isEnglish ? enName : zhName] || codeSnippets[enName] || "";
            }

            var cmConfig = {
                lineNumbers: true,
                lineWrapping: false,
                indentUnit: 4,
                indentWithTabs: true,
                theme: 'juejin',
                styleActiveLine: {nonEmpty: true},
                fontSize: "18px",
                mode: "text/x-java"
            };

            var cmConfigSafe = {
                lineNumbers: true,
                lineWrapping: false,
                indentUnit: 4,
                indentWithTabs: true,
                theme: 'juejinsafe',
                styleActiveLine: {nonEmpty: true},
                fontSize: "18px",
                mode: "text/x-java"
            };

            CodeMirror(document.getElementById("vulXstream"), Object.assign({}, cmConfig, {
                value: codeSnippet("vulXstream", "vulXstreamZh")
            }));
            CodeMirror(document.getElementById("safeXstreamBlackList"), Object.assign({}, cmConfigSafe, {
                value: codeSnippet("safeXstreamBlackList", "safeXstreamBlackListZh")
            }));
            CodeMirror(document.getElementById("safeXstreamWhiteList"), Object.assign({}, cmConfigSafe, {
                value: codeSnippet("safeXstreamWhiteList", "safeXstreamWhiteListZh")
            }));
        });
    });


</script>

</body>
</html>
