<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{common/common::head}"></div>
</head>

<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>
                        <a class="idor" style="color: rgb(30 159 255)" th:text="#{logic.idor.title}">逻辑漏洞 - 越权漏洞</a>
                    </legend>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="background-color: #a7deefab;">
                        <p>
                        <pre th:text="#{logic.idor.intro.core}">IDOR(不安全的直接对象引用)：服务端把用户可控的对象标识符直接用于查询或操作资源，但没有校验该资源是否属于当前登录用户。</pre>
                        <pre th:text="#{logic.idor.intro.vertical}">垂直越权：低权限用户绕过服务端角色校验，访问原本只允许管理员或高权限角色使用的功能。</pre>
                        </p>
                    </blockquote>
                </fieldset>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-bug" th:text="| #{logic.idor.vertical.vul.title}|"> 漏洞场景：垂直越权管理员</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <p th:text="#{logic.idor.vertical.vul.desc}">低权限用户直接访问管理员功能地址，服务端未做角色校验</p>
                                        <a target="_blank" href="/logic/idor/vertical/vul">
                                            <button class="layui-btn layui-btn-normal" style="width: 100px; margin-left: 10px;">
                                                <span class="iconfont icon-zhihang" th:text="#{logic.idor.run}">Run</span>
                                            </button>
                                        </a>
                                    </blockquote>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{logic.idor.tips}">tips</span></div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;" th:text="#{logic.idor.vertical.vul.tips}">问题点</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code" th:text="| #{logic.idor.vulnerableCode}|"> 缺陷代码</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="vulHorizon"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="~{common/common::script}"></div>

<script type="text/javascript" th:inline="javascript">
    layui.use(['layer', 'miniTab', 'common', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            miniTab = layui.miniTab,
            common = layui.common,
            form = layui.form,
            upload = layui.upload;

        miniTab.listen();
        layer.msg(/*[[#{logic.idor.vertical.toast}]]*/ "其他漏洞-垂直越权");
        var isEnglishIdor = /*[[${#locale.language == 'en'}]]*/ false;

        var cmConfig = {
            lineNumbers: true,
            lineWrapping: false,
            indentUnit: 4,
            indentWithTabs: true,
            theme: 'juejin',
            styleActiveLine: { nonEmpty: true },
            fontSize: "18px",
            mode: "text/x-java"
        };

        CodeMirror(document.getElementById("vulHorizon"), Object.assign({}, cmConfig, { value: isEnglishIdor ? vulVertical : vulVerticalZh }));

        $('.idor').hover(function () {
            $(this).css('cursor', 'pointer');
            layer.tips(/*[[#{logic.idor.diagramTip}]]*/ '漏洞示意图', this, {
                tips: [1, '#0051ff'],
                time: 2000
            });
        });

        $('.idor').on('click', function () {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 1,
                area: ['572px', '450px'],
                shadeClose: true,
                content: '<div style="text-align: center;"><img src="/static/images/vul/idor/idor.png" style="width: 100%; height: 100%;"></div>'
            });
        });
    });

</script>

</body>
</html>
