<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/common::head}"></div>

<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend style="color: rgb(30 159 255)" th:text="#{login.bypass.title}">Login Confrontation - Login Bypass</legend>
                    <blockquote class="layui-elem-quote layui-quote-nm"
                                style="font-size: 15px;background-color: #a7deefab;box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important">
                        <p>
                        <pre th:text="#{login.bypass.intro}">This page demonstrates login bypass risks.</pre>
                        </p>
                    </blockquote>
                </fieldset>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-bug" th:text="| #{login.bypass.response.title}|"> Vulnerable Scenario: Response Tampering Bypass</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <form class="layui-form" style="display: flex; justify-content: space-between;">
                                            <div style="display: flex; align-items: center;">
                                                <input type="text" name="username" style="width: 150px;" required
                                                       lay-verify="required" th:placeholder="#{login.bypass.username}" placeholder="Username" value="admin"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                <input type="text" name="password" style="width: 150px;" required
                                                       lay-verify="required" th:placeholder="#{login.bypass.password}" placeholder="Password" autocomplete="off"
                                                       class="layui-input">
                                            </div>
                                            <div style="display: flex; align-items: center;">
                                                <button class="layui-btn layui-btn-normal"
                                                        style="width: 100px; margin-left: 10px;"
                                                        lay-filter="vul1-bypass-button" lay-submit="">
                                                    <span class="iconfont icon-zhihang" th:text="#{login.bypass.run}">Run</span>
                                                </button>
                                            </div>
                                        </form>
                                    </blockquote>

                                </div>


                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{login.bypass.tips}">Tips</span></div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;" th:text="#{login.bypass.response.tips}">If the frontend proceeds only according to response fields, attackers can tamper with failed responses.</pre>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-warning icon-output"></i><span th:text="#{login.bypass.testResult}">Test Result</span>
                                        </div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre id="vul1-bypass-result"
                                                 style="color: red;font-size: 15px;"></pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code" th:text="| #{login.bypass.vulnerableCode}|"> Vulnerable Code</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="vul1Bypass"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-col-md12" style="margin-top: 10px">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-bug" th:text="| #{login.bypass.reset.title}|"> Vulnerable Scenario: Password Reset Step Bypass</span></h1>
                        <div class="layui-tab layui-tab-brief">
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <blockquote class="layui-elem-quote main_btn">
                                        <div style="display: flex; align-items: center;">
                                            <p th:text="#{login.bypass.openLink}">Open link:</p>
                                            <a style="color: red" target="_blank"
                                               href="/loginconfront/bypass/reset" th:text="#{login.bypass.reset.link}">Password Reset Scenario</a>

                                        </div>
                                    </blockquote>

                                </div>


                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header"><i class="fa fa-bullhorn icon-tip"></i><span th:text="#{login.bypass.tips}">Tips</span></div>
                                        <div class="layui-card-body layui-text layadmin-text">
                                            <pre style="color: #28333e;font-size: 15px;" th:text="#{login.bypass.reset.tips}">In a multi-step flow, missing server-side state validation can allow direct password reset calls.</pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6">
                        <h1><span class="iconfont icon-code" th:text="| #{login.bypass.vulnerableCode}|"> Vulnerable Code</span></h1>
                        <div class="m-auto div-shadow shadow p-3 mb-5 bg-white rounded">
                            <div class="code-editor" id="vul2Bypass"></div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
</div>

<div th:replace="~{common/common::script}"></div>
<script type="text/javascript" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {

        layui.use(['layer', 'miniTab', 'common', 'form'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                miniTab = layui.miniTab,
                common = layui.common,
                form = layui.form;
            miniTab.listen();
            layer.msg(/*[[#{login.bypass.toast}]]*/ "Login Confrontation - Login Bypass")
            var isEnglishLoginBypass = /*[[${#locale.language == 'en'}]]*/ false;

            form.on('submit(vul1-bypass-button)', function (data) {
                $.ajax({
                    type: 'POST',
                    url: '/loginconfront/bypass/vul1step1',
                    data: data.field,
                    success: function (response) {
                        if (response.code === 0) {
                            $("#vul1-bypass-result").text(response.msg);
                            setTimeout(() => {
                                $.ajax({
                                    type: 'POST',
                                    url: '/loginconfront/bypass/vul1step2',
                                    data: {code: response.code},
                                    success: function (step2Response) {
                                        if (step2Response.code === 0) {
                                            $("#vul1-bypass-result").text(step2Response.msg);
                                        } else {
                                            $("#vul1-bypass-result").text((/*[[#{login.bypass.ajax.step2Failed}]]*/ "Step 2 verification failed:") + step2Response.msg);
                                        }
                                    },
                                    error: function () {
                                        $("#vul1-bypass-result").text(/*[[#{login.bypass.ajax.step2RequestFailed}]]*/ "Step 2 request failed. Please try again.");
                                    }
                                });

                            }, 1000);

                        } else {
                            $("#vul1-bypass-result").text(response.msg);
                        }
                    },
                    error: function () {
                        $("#vul1-bypass-result").text(/*[[#{login.bypass.ajax.step1RequestFailed}]]*/ "Step 1 request failed. Please try again.");
                    }
                });
                return false;
            });


            var cmConfig = {
                lineNumbers: true,
                lineWrapping: false,
                indentUnit: 4,
                indentWithTabs: true,
                theme: 'juejin',
                styleActiveLine: {nonEmpty: true},
                fontSize: "18px",
                mode: "text/x-java"
            };

            CodeMirror(document.getElementById("vul1Bypass"), Object.assign({}, cmConfig, {
                value: isEnglishLoginBypass ? vul1Bypass : vul1BypassZh
            }));
            CodeMirror(document.getElementById("vul2Bypass"), Object.assign({}, cmConfig, {
                value: isEnglishLoginBypass ? vul2Bypass : vul2BypassZh
            }));

        });
    });


</script>

</body>
</html>
